manifest {
    mainScript = 'plot_coverage.nf'
}
process.container = 'lisemangiante/test_nextflow'

timeline {
    enabled = true
}
		
mail {
	from = 'mangiantel@students.iarc.fr'
    	smtp.host = 'email.iarc.fr'
    	smtp.port = 587
    	smtp.user = 'mangiantel'
    	smtp.password = 'XXXXXXXXXXX'
}
		
notification {
	enabled = true
	to = 'mangiantel@students.iarc.fr'
}
