
process {
	scratch = false
	errorStrategy = 'retry'
	maxErrors = 10000
	memory = { task.exitStatus == 130 ? 4.GB * task.attempt : 4.GB }
	maxRetries = { task.exitStatus == 130 ? 4 : 2 }
}

executor {
	name = 'lsf'
	perJobMemLimit = true
	queueSize = 50
}

trace {
    enabled = true
}

report {
	enabled = true
}
		
singularity {
	cacheDir = '/data/username/.singularity/'
}



manifest {
    mainScript = 'plot_coverage.nf'
}
process.container = 'lisemangiante/test_nextflow'

timeline {
    enabled = true
}
		
mail {
	from = 'mangiantel@students.iarc.fr'
    	smtp.host = 'email.iarc.fr'
    	smtp.port = 587
    	smtp.user = 'mangiantel'
    	smtp.password = 'sqU-14kiki'
}
		
notification {
	enabled = true
	to = 'mangiantel@students.iarc.fr'
}
